{% extends 'base.html.twig' %}

{% block jumbo %}

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Generador de Menús</h1>
                <p class="lead">Listado de Platos</p>
            </div>
        </div>
{% endblock %}

{% block body %}
        <div class="container">
            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#altaPlato"><i class="fas fa-calendar-plus"></i> Nuevo Plato</button>
            <table class="table text-right">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Calorías</th>
                        <th scope="col">Tipo de Plato</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for plato in platos %}
                    <tr>
                        <th scope="row">{{ plato.id}}</th>
                        <td>{{ plato.nombre}}</td>
                        <td>{{ plato.calorias}}</td>
                        <td>{{ plato.tipo}}</td>
                        <td>
                            <button type="button" class="btn btn-outline-success"><a href="#"><i class="fas fa-edit"></i></a></button>
                            <button type="button" class="btn btn-outline-danger"><a href="#"><i class="fas fa-trash-alt"></i></a></button>
                        </td>
                    </tr>
                    {% endfor %}
                
                </tbody>
            </table>
            </div>

            <!--------------------------MODAL ALTA PLATO-------------------------------->

            <div class="modal" tabindex="-1" id="altaPlato">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Alta Plato Nuevo</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="altaPlato" method="post">
                                <div class="form-group">
                                    <label for="nombre">Nombre:</label>
                                    <input type="text" class="form-control" id="nombre" name="nombre">
                                </div>
                                <div class="form-group">
                                    <label for="calorias">Calorías:</label>
                                    <input type="number" class="form-control" id="calorias" name="calorias" step="0.01">
                                </div>
                                
                                <div class="form-group">
                                
                                        <select class="nice-select" name="tipoPlatos" >
                                        {% for tipoPlato in tipoPlatos %}
                                            <option value="{{ tipoPlato.id}}">{{ tipoPlato.nombre}}</option>
                                        {% endfor %}
                                        </select>
                                
                                </div>
                                
                               
                                <br/>
                                <br/>
                                
                                <button type="submit" class="btn btn-primary">Registrar</button>
                                <input type="hidden" name="pagina_actual">
                                <button type="reset" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


{% endblock %}
