{% extends 'base.html.twig' %}

{% block jumbo %}

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Generador de Menús</h1>
                <p class="lead">Listado de Platos</p>
            </div>
        </div>
{% endblock %}

{% block body %}
        <div class="container">
            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#altaPlato"><i class="fas fa-utensils"></i> &nbsp; Nuevo Plato</button>
            <table class="table text-right">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Calorías</th>
                        <th scope="col">Tipo de Plato</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for plato in platos %}
                    <tr>
                        <th scope="row">{{ plato.id}}</th>
                        <td>{{ plato.nombre}}</td>
                        <!--Utilizo el filter replace para reemplazar los puntos de los decimales por comas en el visionado de la tabla-->
                        <td>{{ plato.calorias|replace({'.':','})}}</td>
                        <td>{{ plato.tipo.nombre}}</td>
                        <td>
                            <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#editarPlato"><a href="/editarPlato/{{plato.id}}"><i class="fas fa-edit"></i></a></button>
                            <button type="button" class="btn btn-outline-danger"><a href="/bajaPlato/{{plato.id}}"><i class="fas fa-trash-alt"></i></a></button>
                        </td>
                    </tr>
                    {% endfor %}
                
                </tbody>
            </table>
        </div>

            <!--------------------------MODAL ALTA PLATO-------------------------------->

            <div class="modal" tabindex="-1" id="altaPlato">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Alta Plato Nuevo</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="altaPlato" method="post">
                                <div class="form-group">
                                    <label for="nombre">Nombre:</label>
                                    <input type="text" class="form-control" id="nombre" name="nombre">
                                </div>
                                <div class="form-group">
                                    <label for="calorias">Calorías:</label>
                                    <input type="number" class="form-control" id="calorias" name="calorias" step="0.01">
                                </div>
                                
                                <div class="form-group">
                                
                                        <select class="nice-select" name="tipoPlatos" >
                                        {% for tipoPlato in tipoPlatos %}
                                            <option value="{{ tipoPlato.id}}">{{ tipoPlato.nombre}}</option>
                                        {% endfor %}
                                        </select>
                                
                                </div
                                <div class="form-group">      
                                    {% for alergeno in alergenos %}
                                        <label class="alergenos"><input type="checkbox" name="alergenos[]" value="{{alergeno.id}}"/>
                                         <img class="alerg" title="{{alergeno.nombre}}" src="/img/alergeno_icons/{{alergeno.imagen}}"/></label> 
                                    {% endfor %}

                                </div>
                               
                                <br/>
                                <br/>
                                
                                <button type="submit" class="btn btn-primary">Registrar</button>
                                <input type="hidden" name="pagina_actual">
                                <button type="reset" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

                  

            <!--------------------------MODAL EDITAR PLATO-------------------------------->

            {% if plato is defined %} 
            <div class="modal" tabindex="-1" id="editarPlato">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Editar Plato</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="/editarPlato/{{plato.id}}" method="post">
                                <div class="form-group">
                                    <label for="nombre">Nombre:</label>
                                    <input type="text" class="form-control" id="nombre" name="nombre" value="{{plato.nombre}}">
                                </div>
                                <div class="form-group">
                                    <label for="calorias">Calorías:</label>
                                    <input type="number" class="form-control" id="calorias" name="calorias" step="0.01" value="{{plato.calorias}}">
                                </div>
                                
                                <div class="form-group">
                                
                                        <select class="nice-select" name="tipoPlatos" >
                                        {% for tipoPlato in tipoPlatos %} 
                                        <!--EL ID va en el value-->
                                            <option value="{{ tipoPlato.id}}" {% if tipoPlato.id == plato.tipo.id %}selected  {% endif %}>{{ tipoPlato.nombre}}</option>
                                        {% endfor %}
                                        </select>
                                
                                </div>
                                
                               
                                <br/>
                                <br/>
                                
                                <button type="submit" class="btn btn-primary">Aceptar</button>
                                <input type="hidden" name="pagina_actual">
                                <button type="reset" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
             <script type="text/javaScript">
                $('#editarPlato').modal('show');
            </script>
             {% endif %}
{% endblock %}

