{% extends 'base.html.twig' %}

 {% block jumbo %}

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Generador de Menús</h1>
                <p class="lead">Listado de Usuarios</p>
            </div>
        </div>
        {% endblock %}

        {% block body %}
        <div class="container">
            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#altaUsuario"><i class="fas fa-user-plus"></i> &nbsp; Nuevo Usuario</button>
            <table class="table text-right">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Contraseña</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                {% for usuario in usuarios %}
                    <tr>
                        <th scope="row">{{ usuario.id}}</th>
                        <td>{{ usuario.nombre}}</td>
                        <td>{{ usuario.contrasenia}}</td>
                        <td>
                            <button type="button" class="btn btn-outline-success"><a href="/editarUsuario/{{ usuario.id}}"><i class="fas fa-edit"></i></a></button>
                            <button type="button" class="btn btn-outline-danger"><a href="bajaUsuario/{{ usuario.id }}"><i class="fas fa-trash-alt"></i></a></button>
                        </td>
                    </tr>
                  {% endfor %}
                </tbody>
            </table>
            </div>


        <!--------------------------MODAL ALTA USUARIO-------------------------------->
        {% include 'usuarios/altaUsuario.html.twig' %}

            <!--------------------------EDITAR USUARIO-------------------------------->
        {% if actualizado is defined %} 
            <div class="modal" tabindex="-1" id="editarUsuario">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Editar Usuario</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="/editarUsuario/{{usuario.id}}" method="post">
                                <div class="form-group">
                                    <label for="nombre">Nombre:</label>
                                    <input type="text" class="form-control" id="nombre" name="nombre" value="{{usuario.nombre}}"> 
                                </div>
                                <div class="form-group">
                                    <label for="contrasenia">Contraseña:</label>
                                    <input type="password" placeholder="Nueva contraseña" class="form-control" id="contrasenia" name="contrasenia" value="">
                                </div>
                                <button type="submit" class="btn btn-primary">Editar</button>
                                <button type="reset" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
              
            <script type="text/javaScript">
                $('#editarUsuario').modal('show');
            </script>

        {% endif %}


         <!--------------------------ALTA/EDICION USUARIO-------------------------------->
            <div class="modal" tabindex="-1" id="datosUsuario">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        {% if actualizado is defined %} 
                            <h5 class="modal-title">Editar Usuario</h5>
                        {% else %}
                            <h5 class="modal-title">Alta Usuario</h5>
                        {% endif %}
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                        {% if actualizado is defined %} 
                            <form action="/editarUsuario/{{usuario.id}}" method="post">
                        {% else %}
                            <form action="/altaUsuario" method="post">
                        {% endif %}
                        {% if actualizado is defined %} 
                                <div class="form-group">
                                    <label for="nombre">Nombre:</label>
                                    <input type="text" class="form-control" id="nombre" name="nombre" value="{{usuario.nombre}}"> 
                                </div>
                                <div class="form-group">
                                    <label for="contrasenia">Contraseña:</label>
                                    <input type="password" placeholder="Nueva contraseña" class="form-control" id="contrasenia" name="contrasenia" value="">                                    
                                </div>
                        {% else %}
                                 <div class="form-group">
                                    <label for="nombre">Nombre:</label>
                                    <input type="text" class="form-control" id="nombre" name="nombre"> 
                                </div>
                                <div class="form-group">
                                    <label for="contrasenia">Contraseña:</label>
                                    <input type="password"  class="form-control" id="contrasenia" name="contrasenia" value="">
                        {% endif %}

                         {% if actualizado is defined %} 
                                <button type="submit" class="btn btn-primary">Editar</button>
                        {% else %}
                                <button type="submit" class="btn btn-primary">Aceptar</button>
                        {% endif %}                        
                                <button type="reset" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        
         {% endblock %}
     
         
