{% extends 'base.html.twig' %}

{% block title %}Nuevo Menú{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron jumbotron-fluid" id="jumboMenu">
            <div class="container text-center">
                <h1 class="display-4">Nuevo Menú:</h1>
            </div>
        </div>
        <form action="/generarMenu" method="post">
            <div class="row">
                <div class="card offset-1">
                    <div class="card-header">
                        <h5>Desayunos</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Seleccione un desayuno:</p>
                        <div class="form-group">
                            <select class="nice-select" name="desayuno" >   
                                {% for platoDesayuno in platosDesayuno %}               
                                <option value="{{ platoDesayuno.id }}">{{ platoDesayuno.nombre }}</option>
                                {% endfor %}                      
                            </select>
                        </div>
                    </div>
                </div>

                <div class="card offset-1">
                    <div class="card-header">
                        <h5>Comidas</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Seleccione una comida:</p>
                        <div class="form-group">
                            <select class="nice-select" name="comida" >                  
                                {% for platoComida in platosComida %}               
                                <option value="{{ platoComida.id }}">{{ platoComida.nombre }}</option>
                                {% endfor %}                        
                            </select>
                        </div>
                        <br/>
                        <br/>
                        <p class="card-text">Seleccione un postre para la comida:</p>
                        <div class="form-group">
                            <select class="nice-select" name="postreComida" >                  
                                {% for platoPostre in platosPostre %}               
                                <option  value="{{ platoPostre.id }}">{{ platoPostre.nombre }}</option>
                                {% endfor %}                       
                            </select>
                        </div>
                    </div>
                </div>

                <div class="card offset-1">
                    <div class="card-header">
                        <h5>Cenas</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Seleccione una cena:</p>
                        <div class="form-group">
                            <select class="nice-select" name="cena" >                  
                                {% for platoCena in platosCena %}               
                                <option value="{{ platoCena.id }}">{{ platoCena.nombre }}</option>
                                {% endfor %}                        
                            </select>
                        </div>
                        <br/>
                        <br/>
                        <p class="card-text">Seleccione un postre para la cena:</p>
                        <div class="form-group">
                            <select class="nice-select" name="postreCena" >                  
                                {% for posteCena in platosPostre %}               
                                <option value="{{ posteCena.id }}">{{ posteCena.nombre }}</option>
                                {% endfor %}                       
                            </select>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <hr/>
                </div>
                <div class="container text-center">
                    <button type="submit" class="btn btn-outline-success btn-lg"><i class="fas fa-utensils"></i>&nbsp;Generar Menú &nbsp;<i class="fas fa-utensils"></i></button>
                </div>
            </div>
        </form>
    </div>
    
{% endblock %}
