<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú del Día</title>
    <style>
      
    </style>
</head>
<body>
    <h1>Nuestro Menú</h1>
    <hr>
    <h2>Desayuno</h2>
    <p><strong>{{desayuno.nombre}}</strong>  <i>{{desayuno.calorias}} ckal</i></p>
    <h2>Comida</h2>
    <p><strong>{{comida.nombre}}</strong>  <i>{{comida.calorias}} ckal</i></p>
    <h3>Postre</h3>
    <p><strong>{{postreComida.nombre}}</strong>  <i>{{postreComida.calorias}} ckal</i></p>
    <h2>Cena</h2>
    <p><strong>{{cena.nombre}}</strong>  <i>{{cena.calorias}} ckal</i></p>
    <h3>Postre</h3>
    <p><strong>{{postreCena.nombre}}</strong>  <i>{{postreCena.calorias}} ckal</i></p>
</body>
</html>